body{
   
    margin: 0px;
    margin-top: -15px;
    background-color: aliceblue;
}
nav{
    margin: 0px;
    background-color: pink;
}
main{
    background-color: honeydew;
}
nav ul{
    text-align: right;
    margin: 0px;
}

nav ul>li{
    display: inline-block;
    text-align: right;
    align-items: center;

}
footer{
    min-height: 100px;
}
.atas .image{
    padding-top: 1em;
    text-align: center;
}
.atas h1{
    text-align: center;
}
.atas{
    margin: 5em;
    background-color: aqua;
}
.bawah{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: yellowgreen;
}
.bawah .text{
    text-align: center;
}
.bawah .vis{
    background-color: pink;
    margin: 1em;
}